* {
  font-family: Helvetica;
  font-size: 22px;
  color: white;
}

body {
  background-color: black;
  opacity: 0.9;
}

.header {
  display: flex;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  position: fixed;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
  background-color: black;
  z-index: 1;
}

.logo {
  display: flex;
  padding-left: 10px;
  padding-top: 3px;
}

nav a {
  text-decoration: underline;
  color: seashell;
}

.flex-container {
  background-image: image("./resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
}

.mission-container {
  display: flex;
  align-items: center;
  background-color: black;
}
